In [1]:
%cd ~/SSMuLA

/disk2/fli/SSMuLA

In [2]:
import pandas as pd

In [3]:
merged = pd.read_csv('data/TrpB/LibD_merged_codons.csv')
filtered = pd.read_csv('data/TrpB/LibD_merged_filtered_codons.csv')

In [7]:
merged.head()

,Timepoint,Time (h),codon1,codon2,codon3,codons,InputCount_1,avg_InputCount,InputFreq_1,avg_InputFreq,OutputCount_1,OutputFreq_1,OutputCount_2,OutputFreq_2
0,T1,12,AAG,AAG,AAG,AAG_AAG_AAG,228.0,228.0,0.000077,0.000077,455.0,0.000084,312.0,0.000093
1,T1,12,AAG,AAG,AAT,AAG_AAG_AAT,275.0,275.0,0.000092,0.000092,452.0,0.000084,294.0,0.000088
2,T1,12,AAG,AAG,ACG,AAG_AAG_ACG,55.0,55.0,0.000018,0.000018,57.0,0.000011,51.0,0.000015
3,T1,12,AAG,AAG,ACT,AAG_AAG_ACT,363.0,363.0,0.000122,0.000122,614.0,0.000114,377.0,0.000113
4,T1,12,AAG,AAG,AGG,AAG_AAG_AGG,122.0,122.0,0.000041,0.000041,157.0,0.000029,132.0,0.000040

In [8]:
merged.shape, merged.columns

((153503, 14),
 Index(['Timepoint', 'Time (h)', 'codon1', 'codon2', 'codon3', 'codons',
        'InputCount_1', 'avg_InputCount', 'InputFreq_1', 'avg_InputFreq',
        'OutputCount_1', 'OutputFreq_1', 'OutputCount_2', 'OutputFreq_2'],
       dtype='object'))

In [9]:
filtered.head()

,Timepoint,Time (h),codon1,codon2,codon3,codons,InputCount_1,avg_InputCount,InputFreq_1,avg_InputFreq,...,enrich_1,enrich_2,mu_1,mu_2,# Stop,mu_1-bg,mu_2-bg,mu_1-bg/max,mu_2-bg/max,avg_mu-bg/max
0,T1,12,AAG,AAG,AAG,AAG_AAG_AAG,228.0,228.0,0.000077,0.000077,...,1.995614,1.368421,0.168829,0.132883,0,0.015725,0.021827,0.073244,0.113897,0.093570
1,T1,12,AAG,AAG,AAT,AAG_AAG_AAT,275.0,275.0,0.000092,0.000092,...,1.643636,1.069091,0.152659,0.112312,0,-0.000445,0.001256,-0.002073,0.006554,0.002241
2,T1,12,AAG,AAG,ACG,AAG_AAG_ACG,55.0,55.0,0.000018,0.000018,...,1.036364,0.927273,0.114227,0.100452,0,-0.038878,-0.010604,-0.181086,-0.055332,-0.118209
3,T1,12,AAG,AAG,ACT,AAG_AAG_ACT,363.0,363.0,0.000122,0.000122,...,1.691460,1.038567,0.155049,0.109898,0,0.001945,-0.001158,0.009060,-0.006042,0.001509
4,T1,12,AAG,AAG,AGG,AAG_AAG_AGG,122.0,122.0,0.000041,0.000041,...,1.286885,1.081967,0.132269,0.113310,0,-0.020836,0.002254,-0.097048,0.011760,-0.042644

In [10]:
filtered.shape, filtered.columns

((143017, 24),
 Index(['Timepoint', 'Time (h)', 'codon1', 'codon2', 'codon3', 'codons',
        'InputCount_1', 'avg_InputCount', 'InputFreq_1', 'avg_InputFreq',
        'OutputCount_1', 'OutputFreq_1', 'OutputCount_2', 'OutputFreq_2',
        'enrich_1', 'enrich_2', 'mu_1', 'mu_2', '# Stop', 'mu_1-bg', 'mu_2-bg',
        'mu_1-bg/max', 'mu_2-bg/max', 'avg_mu-bg/max'],
       dtype='object'))

In [22]:
filtered[list(merged.columns)].columns == merged.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [26]:
discarded_rows = merged[~merged.isin(filtered[list(merged.columns)])].dropna()
discarded_rows

,Timepoint,Time (h),codon1,codon2,codon3,codons,InputCount_1,avg_InputCount,InputFreq_1,avg_InputFreq,OutputCount_1,OutputFreq_1,OutputCount_2,OutputFreq_2
28655,T1,12.0,TTG,CTG,CTT,TTG_CTG_CTT,219.0,219.0,0.000074,0.000074,406.0,0.000075,244.0,0.000073
28656,T1,12.0,TTG,CTG,GAG,TTG_CTG_GAG,97.0,97.0,0.000033,0.000033,115.0,0.000021,91.0,0.000027
28657,T1,12.0,TTG,CTG,GAT,TTG_CTG_GAT,172.0,172.0,0.000058,0.000058,274.0,0.000051,154.0,0.000046
28658,T1,12.0,TTG,CTG,GCG,TTG_CTG_GCG,106.0,106.0,0.000036,0.000036,213.0,0.000040,160.0,0.000048
28659,T1,12.0,TTG,CTG,GCT,TTG_CTG_GCT,135.0,135.0,0.000045,0.000045,309.0,0.000057,202.0,0.000060
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152464,T5,36.0,TTT,TTT,TCT,TTT_TTT_TCT,60.0,60.0,0.000020,0.000020,41.0,0.000008,28.0,0.000007
152465,T5,36.0,TTT,TTT,TGG,TTT_TTT_TGG,270.0,270.0,0.000091,0.000091,164.0,0.000032,122.0,0.000031
152466,T5,36.0,TTT,TTT,TGT,TTT_TTT_TGT,103.0,103.0,0.000035,0.000035,55.0,0.000011,27.0,0.000007
152467,T5,36.0,TTT,TTT,TTG,TTT_TTT_TTG,416.0,416.0,0.000140,0.000140,208.0,0.000041,144.0,0.000037
152468,T5,36.0,TTT,TTT,TTT,TTT_TTT_TTT,400.0,400.0,0.000134,0.000134,212.0,0.000042,150.0,0.000038

In [27]:
added_rows = filtered[list(merged.columns)][~filtered[list(merged.columns)].isin(merged)].dropna()
added_rows

,Timepoint,Time (h),codon1,codon2,codon3,codons,InputCount_1,avg_InputCount,InputFreq_1,avg_InputFreq,OutputCount_1,OutputFreq_1,OutputCount_2,OutputFreq_2
28655,T2,16.0,AAG,AAG,AAG,AAG_AAG_AAG,228.0,228.0,0.000077,0.000077,244.0,0.000082,185.0,0.000074
28656,T2,16.0,AAG,AAG,AAT,AAG_AAG_AAT,275.0,275.0,0.000092,0.000092,239.0,0.000081,235.0,0.000094
28657,T2,16.0,AAG,AAG,ACG,AAG_AAG_ACG,55.0,55.0,0.000018,0.000018,34.0,0.000011,34.0,0.000014
28658,T2,16.0,AAG,AAG,ACT,AAG_AAG_ACT,363.0,363.0,0.000122,0.000122,279.0,0.000094,260.0,0.000104
28659,T2,16.0,AAG,AAG,AGG,AAG_AAG_AGG,122.0,122.0,0.000041,0.000041,80.0,0.000027,80.0,0.000032
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122255,T5,36.0,CAG,GCT,ATG,CAG_GCT_ATG,83.0,83.0,0.000028,0.000028,43.0,0.000008,51.0,0.000013
122256,T5,36.0,CAG,GCT,ATT,CAG_GCT_ATT,119.0,119.0,0.000040,0.000040,88.0,0.000017,62.0,0.000016
122258,T5,36.0,CAG,GCT,CAT,CAG_GCT_CAT,138.0,138.0,0.000046,0.000046,71.0,0.000014,43.0,0.000011
122260,T5,36.0,CAG,GCT,CCT,CAG_GCT_CCT,55.0,55.0,0.000018,0.000018,43.0,0.000008,25.0,0.000006
122261,T5,36.0,CAG,GCT,CGG,CAG_GCT_CGG,79.0,79.0,0.000027,0.000027,33.0,0.000006,26.0,0.000007

In [29]:
merged.shape[0] - filtered.shape[0]

10486

In [32]:
discarded_rows.shape[0], added_rows.shape[0]

(25747, 17973)