In [1]:
import pandas as pd

In [2]:
pd.read_csv("/disk2/fli/EVcouplings/output/T7/align/T7_alignment_statistics.csv")

,prefix,minimum_column_coverage,num_seqs,seqlen,num_cov,num_lc,perc_cov,1st_uc,last_uc,len_cov,num_lc_cov,N_eff
0,output/T7/align/T7,0.7,2734,883,791,92,0.896,28,882,855,64,NaN

In [3]:
pd.read_csv("/disk2/fli/EVcouplings/output/TEV/align/TEV_alignment_statistics.csv")

,prefix,minimum_column_coverage,num_seqs,seqlen,num_cov,num_lc,perc_cov,1st_uc,last_uc,len_cov,num_lc_cov,N_eff
0,output/TEV/align/TEV,0.7,217,236,233,3,0.987,2,234,233,0,NaN