In [1]:
%cd ~/SSMuLA

/disk2/fli/SSMuLA

In [2]:
%load_ext autoreload
%autoreload 2
%load_ext blackcellmagic

In [12]:
import pandas as pd
import numpy as np

from tqdm import tqdm

import matplotlib.pyplot as plt

from SSMuLA.landscape_global import hamming

In [5]:
df = pd.read_csv("data/GB1/scale2max/GB1.csv")

In [6]:
df.head()

    AAs AA1 AA2 AA3 AA4   fitness  active  muts  n_mut
0  VDGV   V   D   G   V  0.114130    True    WT      1
1  ADGV   A   D   G   V  0.007066    True  V39A      1
2  CDGV   C   D   G   V  0.027646    True  V39C      1
3  DDGV   D   D   G   V  0.000739   False  V39D      1
4  EDGV   E   D   G   V  0.003734    True  V39E      1

In [10]:
df[df["n_mut"] <=2]["fitness"].mean(), df[df["n_mut"] <=2]["fitness"].std()

(0.035159396666492766, 0.07708217358554896)

In [11]:
df

         AAs AA1 AA2 AA3 AA4   fitness  active                 muts  n_mut
0       VDGV   V   D   G   V  0.114130    True                   WT      1
1       ADGV   A   D   G   V  0.007066    True                 V39A      1
2       CDGV   C   D   G   V  0.027646    True                 V39C      1
3       DDGV   D   D   G   V  0.000739   False                 V39D      1
4       EDGV   E   D   G   V  0.003734    True                 V39E      1
...      ...  ..  ..  ..  ..       ...     ...                  ...    ...
149356  YYYR   Y   Y   Y   R  0.000154   False  V39Y:D40Y:G41Y:V54R      4
149357  YYYS   Y   Y   Y   S  0.000505   False  V39Y:D40Y:G41Y:V54S      4
149358  YYYT   Y   Y   Y   T  0.002420    True  V39Y:D40Y:G41Y:V54T      4
149359  YYYW   Y   Y   Y   W  0.001043   False  V39Y:D40Y:G41Y:V54W      4
149360  YYYY   Y   Y   Y   Y  0.001098   False  V39Y:D40Y:G41Y:V54Y      4

[149361 rows x 9 columns]

In [15]:
df["AAs"].values

array(['VDGV', 'ADGV', 'CDGV', ..., 'YYYT', 'YYYW', 'YYYY'], dtype=object)

In [18]:
hm2_dict = {}

for aa in tqdm(df["AAs"].values):

    hm2_dict[aa] = {}
    hm2_fits = []

    for aa2 in df["AAs"].values:
        if hamming(aa, aa2) > 2:
            continue
        hm2_fits.append(df[df["AAs"] == aa2]["fitness"].values[0])

    hm2_dict[aa]["mean"] = np.array(hm2_fits).mean()
    hm2_dict[aa]["std"] = np.array(hm2_fits).std()

  0%|          | 10/149361 [02:17<581:38:30, 14.02s/it]