In [1]:
%cd ~/SSMuLA

/disk2/fli/SSMuLA

In [2]:
%load_ext autoreload
%autoreload 2
%load_ext blackcellmagic

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("add_data/NBS_parS_fitness_ALL.csv")

In [5]:
df

,variants,#reads pre-selection,#reads post-selection (NBS),fitness scores (NBS),#reads pre-selection.1,#reads post-selection (parS),fitness scores (parS)
0,AAAA,205.0,2.0,-0.201752,NaN,NaN,0.000000
1,AAAC,314.0,6.0,-0.130118,314.0,6.0,-0.142981
2,AAAD,240.0,1.0,-0.292411,NaN,NaN,0.000000
3,AAAE,264.0,1.0,-0.302568,NaN,NaN,0.000000
4,AAAF,355.0,4.0,-0.186403,NaN,NaN,0.000000
...,...,...,...,...,...,...,...
80808,YYWC,NaN,NaN,0.000000,18.0,1.0,-0.002949
80809,YYWG,NaN,NaN,0.000000,40.0,2.0,-0.016773
80810,YYYG,NaN,NaN,0.000000,57.0,3.0,-0.010043
80811,YYYN,NaN,NaN,0.000000,21.0,1.0,-0.023174
80812,YYYT,NaN,NaN,0.000000,33.0,1.0,-0.082478

In [7]:
parb = df[["variants", "#reads pre-selection", "#reads post-selection (NBS)", "fitness scores (NBS)"]].dropna(subset=["#reads pre-selection", "#reads post-selection (NBS)"], how='all') 
parb

,variants,#reads pre-selection,#reads post-selection (NBS),fitness scores (NBS)
0,AAAA,205.0,2.0,-0.201752
1,AAAC,314.0,6.0,-0.130118
2,AAAD,240.0,1.0,-0.292411
3,AAAE,264.0,1.0,-0.302568
4,AAAF,355.0,4.0,-0.186403
...,...,...,...,...
66616,YYWS,28.0,1.0,-0.063472
66617,YYWY,15.0,1.0,0.003039
66618,YYYR,44.0,1.0,-0.111636
66619,YYYS,76.0,1.0,-0.169876
66620,YYYV,49.0,1.0,-0.123105

In [9]:
66621 / 20**4

0.41638125

In [10]:
noc = df[["variants", "#reads pre-selection.1", "#reads post-selection (parS)", "fitness scores (parS)"]].dropna(subset=["#reads pre-selection.1", "#reads post-selection (parS)"], how='all') 
noc

,variants,#reads pre-selection.1,#reads post-selection (parS),fitness scores (parS)
1,AAAC,314.0,6.0,-0.142981
5,AAAG,740.0,15.0,-0.135236
9,AAAL,637.0,7.0,-0.215569
12,AAAP,187.0,1.0,-0.310071
13,AAAR,523.0,1.0,-0.445015
...,...,...,...,...
80808,YYWC,18.0,1.0,-0.002949
80809,YYWG,40.0,2.0,-0.016773
80810,YYYG,57.0,3.0,-0.010043
80811,YYYN,21.0,1.0,-0.023174
80812,YYYT,33.0,1.0,-0.082478